.filter-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'Sun';
  src: url('../../fonts/Bickham-Script-Pro-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

h1 font {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
